body{
    background-color: #ffffd2;
}
#myVideo{
    width:100%;
}
.look{
    display: flex;
    justify-content: center;
}
h1{
    color:#aa96da;
    font-family: 'Montserrat', sans-serif;
}
.sky{
    color: #a8d8ea;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.sight{
    display: flex;
    justify-content: center;
}
.see{
    color:#aa96da;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
.main{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.sub{
    display: flex;
    flex:1;
    flex-direction:column;
    background-color: pink;
    margin:20px;
    padding:20px;

}
h3{
    color:#52616b;
    font-size: 30px;
   font-family: 'Montserrat', sans-serif;
}
h3,img,a{
    align-self: center;
}
.list{
    background-color:#ffffd2;
    color: #7c7575;
}
.price{
    color:#52616b;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
del{
    background-color: #fbb;
}
ins{
    display: inline-block;
    transform: rotate(-7deg);
    text-decoration: none;

}
.cta{
    background-color: #aa96da;
    color: #ffffd2;
    border-radius: 10px;
    font-size: 30px;
}
.single{
    text-decoration: none;
    margin: 40px;   
}


@media all and (max-width:800px) {
        
    .sky{
        font-size: 25px;
    }
    .see{
        font-size: 20px;
    }

}
@media all and (max-width:500px) {
    #myVideo{
        width:400px;
        margin-right:50px;
    }
  h1{
    margin-left:23px;
  }
    .sky{
        font-size: 15px;
        margin-left: 50px;
    }
    .see{
        font-size: 15px;
        margin-left: 50px;
    }
    .sub{
        margin-left:52px;
    }


}
